@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #1E40AF;
  --color-bgLight: #F3F4F6;
  --font-sans: 'Quicksand', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
#swal2-html-container {
  overflow: visible !important;
}
body {
  font-weight: 700 !important;
}
